<nav class="bg-secondary text-primary w-full h-5">
  <div class="flex justify-between">
    <!-- Left Side (Logo) -->
    <div class="gr-3 m-4">
      <a class="meloncolly:citrus text-light" href="#">Some Link</a>
    </div>

    <!-- Right Side (Links) -->
    <ul class="flex list-none row even">
      <li class="ml-2">Home</li>
      <li class="ml-2">Documentation</li>
      <li class="ml-2">Installation</li>
    </ul>
  </div>
</nav>


{# Three Basic Parts to a Pizza Nav

1. Logo Site Bar
2. Account Login/Signup
3. Cart/Total


Break these into separate components:

LogoBar
Account
Cart

 #}