<div>
    <nav id="main-nav">
        {# This is the main navigation area to get in/out of the builder #}
    </nav>
</div>
<div>
    <section id="dash-canvas">
        {# This is the area where most of the user interaction will be #}
    </section>
</div>
<div>
    <aside id="dash-nav">
        {# This is the sidebar navigation menu #}
    </aside>
</div>

{# Think about different "versions" of the dash #}
{# For Instance

    1. Beginner - GUI Galore
    2. Intermediate Mode- Hybrid (Some templating/mostly GUI with advanced options)
    3. Expert - SDK/API
    
 #}