<div>
    <nav id=-"builder-nav">
        {# This is the main nav bar to go through the builder pages #}
    </nav>
</div>
<div>
    <aside id="widget-bar">
        {# This is the side bar that shows all of the page widgets that can be used #}
    </aside>
</div>
<div>
    <section id="canvas-area">
    {# This is the main canvas area #}
    </section>
</div>