<div id="post-heading">
{% block title %}{% endblock %}
</div>
<div id="post-content justify">
{% block content %}{% endblock %}
</div>
<div id="post-author left">
{% block author %}{% endblock %}
</div>
<div id="post-comments left">
{% block comments %}{% endblock %}
</div>