{% extends 'post/base.post.twig' %}
{# Insert a nav element
    Maybe try a variant of the main nav
    like a specific 'blog' nav
 #}
{% block title %}
<div>
<h2>Heading</h2>
</div>
{% endblock %}
{% block content %}
<div>
<p>Content is king</p>
<p>A little less text</p>
</div>
{% endblock %}
{% block author %}
<div>
<h3>Author Name</h3>
<p>Author description...</p>
</div>
{% endblock %}
{% block comments %}
<div>
Comments...
</div>
{% endblock %}
