{% extends 'base.html.twig' %}

{% block body %}
<div class="flex even pt-3">
<div class="col text-light slideInLeft">A little more emphasis on the text to highlight its quality. The number is: Your mother</div>
<div class="col text-light">Stats</div>
</div>
<div class="flex even m-2 p-2">
    <div class="col gr-3 bg-blue-300 text-light"><span class="flicker">
        Stats Again
    </span>
    </div>
    <div class="col gr-1 bg-green-300 text-light">Stats Again</div>
    <div class="col gr-1 bg-red-300 text-light">Stats Again</div>
</div>
{%  endblock %}
