{% extends 'components/store/base.coupon.html.twig' %}

{% block heading %}
<div class="bg-gray-200">
<h2 class="text-white">Save 50%</h2>
{% endblock %}
{% block content %}
<p class="text-white">
This is the promotional content
</p>
{% endblock %}
{% block redeem %}
<button class="bg-pink-500 p-5">Click here to redeem</button>
</div>
{% endblock %}
